<form action="/" method="GET">
    <p>Check some colors</p>
    <label for="red">Red</label>
    <input type="checkbox" name="colors[]" value="red" id="red">
    <label for="green">Green</label>
    <input type="checkbox" name="colors[]" value="green" id="green">
    <label for="blue">Blue</label>
    <input type="checkbox" name="colors[]" value="blue" id="blue">
    <input type="submit">
    <label name="show">test</label>

    <script>
    var messageBox = document.getElementsByName("colors[]")
    document.getElementsByName("show").value ==  "BLue"
    

    </script>
 

</form>
